#body{
    background-color: #f8efed;
}
.contadores{
    width: 210px;
    height: 200px;
    background-color: #62a4aebc;
    
}
.tarjeta-container{
    display: grid;
    grid-template-columns: repeat(4,110px);
    grid-template-rows: repeat(4,110px);
    gap: 10px;
}
.caja{
    width: 15vh;
    height: 15vh;
    background: linear-gradient(135deg, #4E8698, #5955a5);
    margin: 2px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.caja:active{
    background-color: #92858559;
}


/* modo oscuro */
.fondo-negro{
    background-color: rgba(0, 0, 0, 0.815) !important; 
}
.cajas{
background: linear-gradient(135deg, #311041, #180c9f)!important;
}
.color{
    color: #f8f5f5;
}
.contador{
    background: linear-gradient(135deg, #62a4ae, #205961)!important;
}